/*基础样式*/
body {
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}

.fl {
	float:left;
	_display:inline;
}

.fr{
	float:right;
	_display:inline;
}

.pricebox {
	position: absolute;
	width: 60px;
	height: 24px;
	line-height: 24px;
	bottom: 58px;
	right: 14px;
}


.pricebox .showbox {
	z-index: 2;
	position: absolute;
	width: 60px;
	height: 24px;
	top: 0;
	left: 0;
	text-align: center;
}

.pricebox .yuan {
	color: #fff;
	font-family: arial;
	padding-right: 1px;
}

#elevator_item {
	width: 60px;
	height: 100px;
	position: fixed;
	right: 18px;
	bottom:  75px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	opacity: 1;
	z-index: 99992;
}
#elevator {
	opacity:0;
	display:block;
	width: 60px;
	height: 50px;
	background: url(/image/index/icon_top.png) center center no-repeat;
	background-color: #444;
	background-color: rgba(0,0,0,.6);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;
	margin-bottom: 10px;
}

#cart {
	position:relative;
	display: block;
	width: 60px;
	height: 50px;
	background: url(/image/index/icon_cart.png) center center no-repeat;
	background-color: #444;
	background-color: rgba(0,0,0,.6);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;
	margin-bottom: 10px;
}

#cart span{
	position:absolute;
	top:-4px;
	right:-5px;
	
}

.pricebox .num {
	color: #fff;
	font-size: 14px;
	font-family: tahoma;
}

.pricebox .mask {
		z-index: 1;
		position: absolute;
		background-color: #000;
		width: 60px;
		height: 24px;
		top: 0;
		left: 0;
		opacity: .2;
		border-radius: 10px;
		filter: alpha(opacity=20);
}

.loading {
	display:none;
	margin-bottom: 15px;
	padding: 5px 0;
	text-align: center;
	font-weight: 700;
}

.loading img {
	display: inline-block;
	margin-right: 6px;
}
.loading span {
	font-size: 1.6em;
}

/*产品展示窗口*/  
#product_show_dialog {/*窗口主题*/
	display:none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(229,229,229,.95);
	z-index: 99994;
	overflow: auto;
	padding-top: 40px;
}

#product_show_dialog .close-layer {/*关闭层*/  
	width: 56px;
	height: 56px;
	position: fixed;
	right: 14px;
	top: 0;
	cursor: pointer;
}

#product_show_dialog .close-layer i {/*关闭按钮*/  
	width: 56px;
	background: url(/image/index/btn_close_layer.png) 0 0 no-repeat;
	width: 36px;
	height: 36px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -18px 0 0 -18px;
}

#product_show_dialog .product_view {/*展示窗体*/  
	width: 992px;
	margin: 0 auto;
	position: relative;
}

#product_show_dialog .product_view_frame{/*展示外观调整*/  
	background: #fff;
	padding: 16px 20px;
	box-shadow: 0 1px 3px rgba(34,25,25,.4);
	margin-bottom: 16px;
}

#product_show_dialog .product_content {/*内容展示框调整*/  
	overflow: hidden;
	width: 992px;
	_width: 990px;
	text-align: center;
	margin-bottom: 20px;
	min-height:560px;
}

#product_show_dialog .product_imgbox  {/*产品图片展示框*/
	width:468px;
	height: 599px;
	overflow: hidden;
}

#product_show_dialog .product_imgbox  img{/*产品图片*/
	min-width:468px;
	max-width:468px; 
	padding:0px; 
	margin:0; 
}

	

#product_show_dialog .infobox{/*产品信息展示区*/
	position:relative;
	margin-left:20px;
	width:448px;
	min-height:594px;
}



#product_show_dialog .shoptitle {/*产品标题*/
	text-align:left;
	overflow: hidden;
	color: #333;
	font: 700 16px "Microsoft YaHei";
	height: 28px;
	width: 100%;
	line-height: 28px;
	margin-bottom: 15px;
}


#product_show_dialog .shoptitleline {/*产品标题下划线*/
	width: 100%;
	height: 6px;
	background: url(/image/index/productline.png) repeat-x;
	overflow: hidden;
}

#product_show_dialog  .shopattrbox {/*产品属性展示区*/
	margin: 0;
	padding: 0;
	list-style: none;
	display:block;
}

#product_show_dialog .shopattrbox  li {/*产品属性行*/
	position: relative;
	padding-left: 70px;
	text-align:left;
	padding-top:8px;
	z-index: 2;
}

#product_show_dialog .shopattrbox  label {/*产品属性行标题*/
	position: absolute;
	top: 8px;
	left: 0;
	color: #999;
}

#product_show_dialog  .nowprice {/*销量数价格*/
	margin-top: -8px;
}

#product_show_dialog  .pricein {/*产品价格*/
	padding: 0 5px;
	color: #fc3c75;
	font: 700 30px/36px verdana,arial;
}

#product_show_dialog .unit {/*产品价格符号*/
		font: 400 14px/36px 'Microsoft YaHei',STXihei,MingLiu;
		color: #aaa;
}


#product_show_dialog  .shopnum {/*产品购买数量*/
	-moz-user-select: none; -khtml-user-select: none; user-select: none;
	text-align:left;
	position: relative;
	width: 79px;
	height: 36px;
	zoom: 1;
	padding-top:3px;
}

#product_show_dialog  .buy-num {
	background-image: url(/image/index/buyinfo.png);
	background-repeat: no-repeat;
	background-position: -104px -8px;
	display: block;
	border: 0;
	width: 38px;
	height: 26px;
	font-weight: bold;
	line-height: 28px;
	padding: 5px 10px;
	color: #333;
}

#product_show_dialog  .num-add {
	background-position: -104px -48px;
	top: 2px;;
}

 #product_show_dialog  .num-reduce {
	background-position: -104px -88px;
	top: 22px;
}

#product_show_dialog  .shop-goods-num-btn {
		position: absolute;
		cursor: pointer;
		display: block;
		width: 22px;
		height: 17px;
		right: 0;
}

#product_show_dialog  .shop-goods-icons {
	background-image: url(/image/index/buyinfo.png);
	_background-image: url(/image/index/buyinfo.png);
	background-repeat: no-repeat;
}

#product_show_dialog  .buybox {/*产品操作按钮*/
	width:100%;
	bottom:0px;
	position: absolute;
	padding: 10px 0 20px;
	bottom:0px;
}

.buy-btn {/*操作按钮*/
	background: url(/image/index/buyinfo.png) no-repeat;
	display: inline-block;
}

.buy_wrap{
	margin: 0 auto;
	width: 290px;
	display:block;
}

.buy-now {/*购买按钮*/
	display: block;
	overflow-y: hidden;
	text-indent: -999px;
	width: 145px;
	height: 50px;
	background-position: 0 -144px;
}

.add-scart {/*添加到购物车按钮*/
	display: block;
	overflow-y: hidden;
	text-indent: -999px;
	width: 133px;
	height: 50px;
	background-position: -139px -144px;
}

.address{
	 vertical-align:middle;
	width: 330px;
	height: 114px;
}

.remark{
	width: 368px;
	height: 114px;
}

.showboxc{
	display:none;
}

#product_show_dialog  .cart_top{/*购物车顶部*/
	height:30px;
	width:100%;
	background:black;
}

#product_show_dialog .cart_top_span{
	color:white;
	line-height:30px;
	font-weight:bold;
}

#product_show_dialog .cart_content {
	overflow: hidden;
	text-align: center;
	margin-bottom: 5px;
	min-height:400px;
}

.cart_product_info li a{
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration:none;
	font-weight:bold;
}

.cart_product_info img{
	display:block;
	min-width:50px;
	max-width:50px; 
	float:left;
}

.cart_product_info  tr{
	padding-top:5px;
}
.cart_product_img{
	float:left;
	width:50px;
	height:50px;
	overflow: hidden;
	margin-top:-14px;
}



.cart_product_info ul{
	text-align:left;
	line-height:12px;
	list-style:none;
}
.cart_content  td{
	text-overflow: ellipsis;
	padding-top:20px;
	text-align:center;
}

.cart_content  th{
	text-align:center;
}

#product_show_dialog  .danjia{
	color: #3c3c3c;
	font-weight: 700;
}

#product_show_dialog  .danzong{
	color: #f40;
	font-weight: 700;
}

#product_show_dialog .cart_total_menu td{
	padding:0px;
	margin:0px;
	background: #e5e5e5;
	text-align:right;
}

#product_show_dialog .cart_total_menu .cartprice {
color: #f40;
font-weight: 400;
font-size: 18px;
line-height: 48px;
font-family: Arial;
vertical-align: middle;
}

#product_show_dialog  .cartprice-sum {
	height: 48px;
	color: #3c3c3c;
}

#product_show_dialog .submit-btn {
display: inline-block;
width: 120px;
height: 50px;
line-height: 50px;
background: #f40;
text-align: center;
font-family: 'Lantinghei SC','Microsoft Yahei';
font-size: 20px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
text-decoration: none;
cursor: pointer;
}

#product_show_dialog .submit-btn-disabled  {
	color:gray;
display: inline-block;
width: 120px;
height: 50px;
line-height: 50px;
background: #e5e5e5;
text-align: center;
font-family: 'Lantinghei SC','Microsoft Yahei';
font-size: 20px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
text-decoration: none;
cursor: pointer;
}



.item_count{
	height: 30px;
	width: 100%;
	position: relative;
	z-index: 1;
}

.cantSelect{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.item_text{
	text-align:center;
	width:35px;
}

.pointer{
	 cursor:pointer;
}








